<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="au.com.dmg.terminalposdemo">
    <uses-permission android:name="com.pax.permission.PRINTER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_display"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TerminalPOSDemo"
        tools:targetApi="31">
        <activity
            android:name=".ActivityPreauthorisationList"
            android:exported="false" />
        <activity
            android:name=".ActivityResult"
            android:exported="false" />
        <activity
            android:name=".ActivityPayment"
            android:exported="false" />
        <activity
            android:name=".ActivityRequests"
            android:exported="false" />
        <activity
            android:name=".ActivityOtherRequests"
            android:exported="false" />
        <activity
            android:name=".ActivitySatellite"
            android:exported="true" >
        <intent-filter>
            <action android:name="fusion_broadcast_receiver"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".TerminalInfoReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="fusion_broadcast_receiver" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>